<div class="row justify-content-center p-1 rounded mt-2 mb-4">
<div class="col-lg-3 col-md-12 bg-light">
    {{#if hasMatchs }}
    <a href="/display/match_schedules" class="btn btn-block m-1 mb-1 btn-basic">Refresh!</a>
    {{/if}}
    <h6 class="text-muted text-center"><u>Event-Round-Group</u></h6>
    {{#each matchs}}
    <a class="nav-link text-muted text-center" href="/display/match_schedules/{{this._id}}">{{this.eventName}}-<span class="text-lowercase">{{this.matchGroupDesc}}</span>-<span class="text-uppercase">{{this.matchGroup}}</span></a>
    {{/each}}
    <hr>
</div>
<!--schedules-->
<div class="col-lg-9 col-md-12 col-sm-12 col-xs-12 bg-light">
    <div class="row m-1">
        <div class="col-lg-12 col-md-12">
            <h5>Event: <strong>{{idSched.eventName}}</strong></h5>
        </div>
    </div>
    <div class="row m-1">
        <div class="col-lg-6 col-md-12">
            <p>Round: <span class="text-lowercase">{{idSched.matchGroupDesc}}</span></p>
        </div>
        <div class="col-lg-6 col-md-12">
            <p class=""><span class="">Type: </span>{{idSched.formatType}}</p>
        </div>
    </div>
    <div class="row m-1">
        <div class="col-lg-6 col-md-6 col-sm-6">
            <p class="">Match Group: <strong class="text-uppercase">{{idSched.matchGroup}}</strong></p>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
            <p class="">Date: {{idSched.matchGroupDate}}</p>
        </div>
    </div>
    <!--Table of schedules-->
    <div class="row p-0 mx-1 mt-1 mb-2 justify-content-center card-text col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center border border-info rounded">
        <div class="mt-1 mb-2 col-xs-3 p-0 m-0">
            <h6>Team one</h6>
            <hr class="m-1">
            {{#each idSched.teamPairList1}}
            {{#if this}}
            <div class="row m-0 p-0">
                <div class="m-0 p-0 col-lg-12">
                    <small class="m-0 p-0 text-uppercase">{{this}}</small>
                    <hr class="m-1">
                </div>
            </div>
            {{/if}}
            {{/each}}
        </div>
        <div class="mt-1 mb-2 col-xs-1 p-0 m-0">
            <h6>Vs</h6>
            <hr class="m-1">
            {{#each idSched.teamPairList2}}
            {{#if this}}
            <div class="row m-0 p-0">
                <div class="m-0 p-0 col-lg-12">
                    <small class="m-0 p-0">Vs</small>
                    <hr class="m-1">
                </div>
            </div>
            {{/if}}
            {{/each}}
        </div>
        <div class="mt-1 mb-2 col-xs-3 p-0 m-0">
            <h6>Team two</h6>
            <hr class="m-1">
            {{#each idSched.teamPairList2}}
            {{#if this}}
            <div class="row m-0 p-0">
                <div class="m-0 p-0 col-lg-12">
                    <small class="m-0 p-0 text-uppercase">{{this}}</small>
                    <hr class="m-1">
                </div>
            </div>
            {{/if}}
            {{/each}}
        </div>
    </div>
</div>
</div>