<div class="row m-1 justify-content-center">
    <div class="col-xs-12 mb-1 p-0 bg-light text-center btn-block border border-info rounded">
        <h3 class="text-info m-1 ">Live Score Timeline</h3>
    </div>
</div>
<!-- scores below --> 
{{# each scores }}
<div class="row justify-content-center mt-1">
    <div class="card-deck">
    {{# each this }}
    <div class="card shadow {{this.color}} mb-3" style="width: 18rem;">
    <div class="card-header bg-transparent">
        <div class="col-xs-9">
        <h5 class="m-0">{{this.eventName}}</h5>
        {{#if this.format}}
        <span><p class="card-title m-0">{{this.format}}</p></span>
        {{/if}}
        </div>
        {{#if this.dateOfEvent}}
        <div class="col-xs-3 m-0 p-0 float-right">
            <p class="m-0 p-0">{{this.dateOfEvent}}</p>
        </div>
        {{/if}}
    </div>
    <div class="card-body bg-transparent ">
    <h6 class="card-title">
        {{#if this.eventType}}
        <span>{{this.eventType}}, </span>
        {{/if}}
        {{#if this.sportGender}}
        <span>{{this.sportGender}}</span>
        {{/if}}
    </h6>
    <div class="card-text text-center">
        {{#if this.winningTeam}}
        <p class="m-0"><span>{{this.winningTeam}}, {{this.collegeNameTeamWinner}}</span></p>
        <p class="m-0">Vs.</p>
        {{/if}}
        {{#if this.otherTeam}}
        <p><span>{{this.otherTeam}}, {{this.collegeNameTeamOther}}</span></p>
        {{/if}}
    </div>
    {{#if this.winningTeam}}
    <div class="m-0 shadow card-text text-center border border-basic rounded">
        <p class="m-0"><strong>Winner: </strong>
        <small><strong>
        <span>{{this.winningTeam}}, {{this.collegeNameTeamWinner}}</span>
        </strong></small>
        </p>
    </div>
    {{/if}}

    <div class="m-0 shadow card-text text-center border border-basic rounded">
        {{#if this.winningParticpant1}}
        <small class="m-0 p-0"><strong>Winner:  </strong>
        <h6><strong>
        <span>{{this.winningParticpant1}}, </span><span>{{this.collegeNameWinParticipant1}}</span>
        </strong></h6>
        </small>
        {{/if}}
        {{#if this.winningParticpant2}}
        <small class="m-0 p-0"><strong>First Runner Up: </strong>
        <h6><strong>
        <span>{{this.winningParticpant2}}, </span><span>{{this.collegeNameWinParticipant2}}</span>
        </strong></h6>
        </small>
        {{/if}}
        {{#if this.winningParticpant3}}
        <small class="m-0 p-0"><strong>Second Runner Up: </strong>
        <h6><strong>
        <span>{{this.winningParticpant3}}, </span><span>{{this.collegeNameWinParticipant3}}</span>
        </strong></h6>
        </small>
        {{/if}}
    </div>
    </div>
    <div class="card-footer bg-transparent ">
        <p class="m-0 font-weight-normal">{{this.someDescription}}</p>
    </div>
    </div>   
    {{/each}}
</div>
</div>
{{/each}}
<!--Pagination-->
<!--docs end message-->
<div class="row m-1 justify-content-center">
    <div class="col-xs-12 text-center">
        {{#if message}}
        <p class="text-muted">{{message}}</p>
        {{/if}}
    </div>
</div>
<div id="pagination-footer" class="row justify-content-center text-center">
    <div class="col-xs-12">
        <ul class="pagination pagination-md justify-content-center">
        <li class="page-item"><a class="page-link" href="/{{prevPage}}">
            {{#if prevPage}}
            <span class="badge badge-info">{{prevPage}}</span> {{/if}}Previous</a>
            </li>
        <li class="page-item"><a class="page-link" href="javascript:void(0);">
            {{#if pageNum}}
            <span class="badge badge-primary">{{pageNum}}</span>
            {{else}}
            Page
            {{/if}}
            </a></li>
        <li class="page-item"><a class="page-link" href="/{{nextPage}}">
            Next {{#if nextPage}}<span class="badge badge-info">{{nextPage}}</span>{{/if}}</a></li>
        </ul>
    </div>
</div>
